[Unit]
Description=Hygieia Jenkins Build Collector
After=hygieia-api.service

[Service]
Type=simple
User=vagrant
WorkingDirectory=/home/vagrant/Hygieia/jenkins-build-collector/target
ExecStart=/usr/bin/java -jar /home/vagrant/Hygieia/jenkins-build-collector/target/jenkins-build-collector-2.0.0-SNAPSHOT.jar --spring.config.location=/home/vagrant/dashboard.properties
Restart=on-abort


[Install]
WantedBy=multi-user.target
