[Unit]
Description=Hygieia Udeploy Deployment Collector
After=hygieia-api.service

[Service]
Type=simple
User=<%= @user %>
WorkingDirectory=<%= @jar_home %>
ExecStart=/usr/bin/java -jar <%= @jar_home %>/udeploy-deployment-collector-2.0.2-SNAPSHOT.jar --spring.config.location=<%= @jar_home %>/dashboard.properties
Restart=on-abort


[Install]
WantedBy=multi-user.target
