[Unit]
Description=Hygieia Jira Feature Collector
After=hygieia-api.service

[Service]
Type=simple
User=vagrant
WorkingDirectory=/home/vagrant/Hygieia/jira-feature-collector/target
ExecStart=/usr/bin/java -jar /home/vagrant/Hygieia/jira-feature-collector/target/jira-feature-collector.jar --spring.config.location=/home/vagrant/dashboard.properties
Restart=on-abort


[Install]
WantedBy=multi-user.target
