[Unit]
Description=Hygieia GitHub SCM Collector
After=hygieia-api.service

[Service]
Type=simple
User=vagrant
WorkingDirectory=/home/vagrant/Hygieia/github-scm-collector/target
ExecStart=/usr/bin/java -jar /home/vagrant/Hygieia/github-scm-collector/target/github-scm-collector-2.0.2-SNAPSHOT.jar --spring.config.location=/home/vagrant/dashboard.properties
Restart=on-abort


[Install]
WantedBy=multi-user.target
