[Unit]
Description=Hygieia API Service
After=network.target

[Service]
Type=simple
User=vagrant
WorkingDirectory=/home/vagrant/Hygieia/api/target
ExecStart=/usr/bin/java -jar /home/vagrant/Hygieia/api/target/api.jar --spring.config.location=/home/vagrant/dashboard.properties
Restart=on-abort


[Install]
WantedBy=multi-user.target
