[Unit]
Description=Hygieia UI Service
After=network.target

[Service]
Type=simple
User=hygieia
WorkingDirectory=<%= @jar_home %>/Hygieia/UI
ExecStart=/bin/gulp serve
Restart=on-abort


[Install]
WantedBy=multi-user.target
